form{
    margin-left: 500px;
    
    
}
div h1{
    text-align: center;
}
div{
  
    width: 700px;
    background-image: url(attt.jpg);
    
    
   
}
div label{
    text-align: center;
    margin-left: 20px;
    
}
div input{
    height: 35px;
    margin-left: 6px;
    background-color:transparent;
    border-radius: 5px;
    border-color: black;
    
}
div select{
    height: 30px;
    margin-left: 20px;
    background-color:transparent;
    border-radius: 5px;
    border-color: black;
    
}
.add input{
    width: 93%;
    margin-left: 20px;
    padding: 3px;
}
.add select{
    width: 100px;
    border-color: black;
    padding: 3px;
}
.add2 select {
    width: 310px;
    margin-left: 20px;
    background-color:transparent;
    border-radius: 5px;
    border-color: black;
    padding: 3px;
}
.add2 label{
    margin-right: 210px;
}
.add2 input{
    width: 310px;
    margin-left: 20px;
    padding: 3px;
}
div p{
    margin-left: 20px;
    text-align: justify;
    background-color: transparent;
}
button{
    height: 40px;
    padding: 10px;
    text-align: center;
    margin-left: 280px;
    background-color: rgb(20, 148, 105);
    color: aliceblue;
    border-radius: 5px;
    border-color: aliceblue;
    cursor: pointer;
    margin-bottom: 20px;
}