
body{
    background-image: url("./deep-blue-background.jpg");
}


.F1{

    border: 1px solid blue;
    border-radius: 3px;
   
    text-align: center;
    margin-top: 100px;
    font-size: larger;
    
    width: 400px;
    margin-left:530px ;
    align-items: center;
    background: rgba(6, 14, 82, 0.808);
  


}

.button{
    cursor: pointer;
}
input{
    width: 80%;
    padding: 5px;
    margin-top: 10PX;
    margin-bottom: 10PX;
}
h2{
    color: rgb(141, 171, 236);
}
label{
    color: aliceblue;
    text-align: right;
    
}
::placeholder{
    color: rgb(0, 0, 1);
}
.container{
    align-items: center;

}
